[2021-05-25 10:52] alextodicescu commented on #493
For my particular example, I think this is the part that lowers the tag keys, which would explain why the tag keys are not case sensitive:
https://github.com/terraform-compliance/cli/blob/1.3.15/terraform_compliance/common/helper.py#L258-L273

Still a bit unsure if I can word my feature differently to avoid the tag keys to be lowered.

[2021-05-25 10:58] alextodicescu commented on #493
Ah, this is actually already supported via tags
https://terraform-compliance.com/pages/bdd-references/using_tags.html#case-sensitivity

Found a similar issue:
https://github.com/terraform-compliance/cli/issues/268

[2021-05-25 10:58] #493 closed

[2021-05-25 13:29] eerkunt commented on #456
Hi @mdesmarest , yes it looks like this will be on the next release along with #478

[2021-05-26 19:20] Prazzy commented on #305
State output file
[code]

I get
[code]
It seems the issue is in this code where it's not considering "child_modules" tag.

[code]

Code: https://github.com/terraform-compliance/cli/blob/ac843f3cda214b9c0d32be459fb623ccc18a9525/terraform_compliance/common/readable_plan.py#L76

[2021-05-27 20:42] Prazzy opened #494 "ERROR: state.out.json is not a valid terraform plan json output. (Child modules support)"
State output file
[code]

I get
[code]
It seems the issue is in this code where it's not considering "child_modules" tag.

[code]

Code: https://github.com/terraform-compliance/cli/blob/ac843f3cda214b9c0d32be459fb623ccc18a9525/terraform_compliance/common/readable_plan.py#L76

[2021-05-28 15:52] craigthackerx opened #495 "When directive searching entire module instead of explicit key"
____
General Info:

Host OS - RedHat 8.4.
Terraform-Compliance Version - Latest.
Terraform Version - v15.4
AzureRM Provider - v2.61.0
Python Version - v3.9.5.
Using Azure DevOps as CI/CD tool.

I am also using modules for some of my terraform.
____

Hi,

I am looking to get some help with an issue I'm having.  Full disclosure - I don't really have much experience with QA, BDD or testing in general

[2021-05-28 16:03] craigthackerx commented on #495
Update, looks like I have raised a duplicate issue on better inspection.... #458

Happy to close unless anyone has any feedback or questions!

[2021-06-02 07:42] potomato commented on #454
Hi @eerkunt - did you have any luck with this?
Thanks.

[2021-06-03 15:58] ranopriyo-neogy opened #498 "Steps skipped even if attribute is present / defined in plan.out.json"
When running Terraform compliance command with required paths, it shows steps getting skipped even if the required attribute is defined in my module and present in plan.out.json. Am I doing something incorrectly?
**Note** : I am running the terraform-compliance from my example folder calling the main module with the inputs.

My Main Module:
[code]
**Present in plan.out.json**

![Screen Shot 2021-0

[2021-06-04 09:22] eerkunt commented on #494
#497

[2021-06-04 10:45] eerkunt commented on #454
Hi @potomato , this is embarrasing 🤦  😆

It looks like I completely forgot about this isssue, looks like this was few days before I got hospitalised due to covid 😆

Moving this up in the queue :) Sorry mate

[2021-06-04 11:01] eerkunt commented on #459
Hello, thanks to @mdesmarest explained the main problem about this. Unfortunately, there is currently no plan to have any code-scanning capability. `terraform-compliance` will stick on the plan :)

Closing this Issue :)

[2021-06-04 11:04] eerkunt commented on #403
Hi @weaselchops,

Sorry for replying this issue this late. You can use interactice debugging mode `-d` with terraform-compliance to check what is happening on the stash. Hence, not specificaly for this case but when you think you are stuck on writing the tests that might help you to see what is really going on internally.

https://terraform-compliance.com/pages/usage/#-d--debug

Closing this issue

[2021-06-04 11:04] #403 closed

[2021-06-04 13:41] #365 closed

[2021-06-04 13:41] #381 closed

[2021-06-04 13:41] #470 closed

[2021-06-04 14:33] Kudbettin commented on #468
Hi @pontinjx ,

Does the issue still persist?

[2021-06-04 14:35] pontinjx commented on #468
Hi, this is working for me now in 1.3.15 - thanks very much!

[2021-06-04 14:35] #468 closed

[2021-06-04 14:47] eerkunt commented on #494
This feature released in `1.3.16`, closing this issue.

Please do not hesitate to open a new one if the problem still occurs

[2021-06-04 14:47] #494 closed

[2021-06-07 08:09] potomato commented on #454
Hi @eerkunt ,
That'd be awesome. Hope you're all well now.
Thanks.

[2021-06-08 13:26] Kudbettin commented on #498
Hi @ranopriyo-neogy,

Thanks for reporting!

I am having trouble recreating the issue, is it possible to share an anonymized version of the plan?

[2021-06-08 13:48] ranopriyo-neogy commented on #498
Here is the state file:
[code]

[2021-06-08 13:54] Kudbettin commented on #495
@craigthackerx,

[When it contains something](https://terraform-compliance.com/pages/bdd-references/when.html#when-it-contains-something) drills down, while [When it has something](https://terraform-compliance.com/pages/bdd-references/when.html#when-it-has-something) does not.

Only [THEN](https://terraform-compliance.com/pages/bdd-references/then.html) steps should drill down, hence the deprecati

[2021-06-08 21:07] Prazzy opened #506 "Multiple resources of same type support"
**Question:**

State file
[code]

I want to write a scenario to reject if an S3 bucket is publicly accessible using "acl" field.

[code]

But it's failing because of  "log-delivery-write" acl. Is there a support for multiple resources?

[2021-06-09 11:45] Prazzy commented on #506
Found a way to implement this using regex

[code]

[2021-06-09 11:45] #506 closed

[2021-06-09 20:37] eerkunt commented on #498
hello, went through the state file thoroughly, couldn't find any `aws_iam_policy` _resource_ created. Yes, there is a reference within a module which is referencing to `module.iam_role.iam_permission_policy_arn`, but there is no __resource record__ related with `aws_iam_policy` resource here. Either, I am seeing something wrong, or its referenced but not created.

Can you please confirm if you see

[2021-06-09 21:17] ranopriyo-neogy commented on #498
I don't see that in plan either, is there a way I can refer to `aws_iam_policy` below:

[code]

[2021-06-10 16:48] mattburgess opened #508 "Error generating Junit XML"
## On some runs of terraform-compliance, we see the following stack trace:

[code]

I'm hoping the above might be enough to work out what the issue is. I'd love to provide the plan but it's 3.5M in size, consisting of 89000 lines of JSON so I don't much fancy trawling through that to see what needs to be anonymised!
[code]
Feature: Embedded Credentials  # /builds/dwp/wauc-leeds/new-style-jobseeker

[2021-06-10 18:00] TomTucka opened #509 "terraform-compliance failing in GitHub action when upgrading to TF 1.0"
## Description

Heya, Since when upgrading to Terraform 1.0 our pipeline has started failing with the below error. We're using the latest version of your github action. Any ideas as to what could be the issue?

## To Reproduce

**Used `terraform-compliance` Parameters:**
`terraform-compliance --features tests --planfile my.plan`

**Error Output:**
[code]

**Expected Behavior:**

**Tested Versions:

[2021-06-13 14:06] Kudbettin commented on #456
@mdesmarest

I will look into this issue. Before doing so I wanted to double check:
[code]
Do these steps filter the bucket correctly? If so, is this what you were looking for or do you specifically need the `source` part to be checked for? (e.g. to see if it's being pulled from the correct address.)

If the latter is the case, I can add source to the metadata.

If you could share the plan file, I

[2021-06-13 14:39] Kudbettin commented on #508
Hmm a very benign line is failing in radish. Are you able to run the same command outside of docker?

[2021-06-18 10:52] alextodicescu opened #510 "Ability to taget specific feature files instead of directory"
Is there any way to target files instead of directories when running `terraform-compliance`? I think this would be useful for testing new feature files being added to a repo.

Context: I'm looking to write a ci job to validate if new feature files being added do what they're intended to do (ie. fail or pass for specific terraform examples).

The workaround I can think of: copy the feature file to

[2021-06-20 06:06] justinpopa opened #512 "Is it possible to use WHEN to filter from the haystack?"
**Question:** Is it possible to use `WHEN` to filter from the haystack?

I've got a test that needs to run through multiple resources to check if an EC2 instance has a specific policy attached.

Terraform I am testing.
[code]

I have the following scenario defined, which I think is getting me close to what I am looking for. I am just a bit confused on the last few lines. I'm getting the `aws_iam_r

[2021-06-21 16:32] mdesmarest commented on #456
@eerkunt  Sorry for the delay, I was off for a week.

The `source` is the key metric to flag on as this creates a granular place to determine the actual module being used. `module_address` can be dictated by factors within the Terraform code itself.  The source allows identification of not only a module is being used, but WHICH module specifically is being used. This is key to regulating that in t

[2021-06-23 00:40] Shocktrooper commented on #509
I think it has to do with the following

- https://github.com/hashicorp/terraform/issues/28903
- https://github.com/hashicorp/terraform/releases/tag/v0.15.4

terraform-compliance will have to change to be able to process the plan output of any terraform >= 15.4

[2021-06-23 12:22] mdesmarest commented on #456
@eerkunt  let me give you a clearer usecase for understanding, without being able to match against source, I have to write features like

    # Verifies an s3 bucket being newly created
    Background:Check for the presence of a new aws_s3_bucket
        Given I have aws_s3_bucket defined
        When its actions metadata has create

    #verifies an s3 bucket is being created with a module
    Sc

[2021-06-25 14:43] eerkunt commented on #509
This could be similar. Looks like 1.0.x releases are creating quite a lot problem.

Will have a deeper look on this.

[2021-06-29 17:11] chrisblutz opened #514 "Multi-instance resources not being mounted"
## Description

Terraform resources that create more than one instance of themselves (using `count` or `for_each`) are not being mounted to resources that they reference.

I have included an example Terraform file/plan that reproduces the issue.

## To Reproduce

**Feature File:**

[code]

**Plan File:**
[code]

**Sample Terraform Code:**

This is an example of a resource setup that produces the i

[2021-07-01 03:55] timgates42 commented on #192
@eerkunt I'm wondering if you would consider orjson being an optional extra_requirement so it could be used by those wanting the faster parsing and avoided by those who would prefer a lighter dependency set - #516 ?

[2021-07-01 08:51] eerkunt commented on #192
Hi, let me answer on here.

Without `orjson` or any other high-speed json parser, on some cases `terraform-compliance` will run in _minutes_ instead of _seconds_. That is a problem, especially when you run in a pipeline and when your compliance rules grow along with `terraform plan`.

Can we do it optional ? I am not really sure, since in `python` packaging we set the required packages upfront and

[2021-07-01 09:11] eerkunt commented on #192
Forget about what I wrote above, it looks like @timgates42 will solve this on #516. I should have checked the PR first :)

[2021-07-01 10:23] eerkunt commented on #192
Released 1.3.20 with @timgates42 's PR.

[2021-07-01 10:28] eerkunt commented on #460
@eugeneromero with the change happened in 1.3.20 (#516 & #192) when you update `terraform-compliance`, it will possibly run slower again.

Please install it via `pip install terraform-compliance[faster_parsing]`.

[2021-07-01 10:32] eugeneromero commented on #460
Thank you for the warning @eerkunt!. We use `terraform-compliance` from the Docker image. What would be the correct command in that case? Currently we use it like this in our pipelines:
[code]

[2021-07-01 10:35] eerkunt commented on #460
oh if you are using the docker image, then nothing is required. Its already embedded there :)

[2021-07-01 10:36] eugeneromero commented on #460
Even better :D Thank you!

[2021-07-05 17:14] alextodicescu opened #518 "How do I check an item of a list for aws_api_gateway_rest_api ?"
**Goal**
I'm looking to write a feature to express: All [aws_api_gateway_rest_api](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/api_gateway_rest_api) resources need to have an "endpoint_configuration" block and any of the endpoint_configuration "types" values need to be "PRIVATE"

**The problem**

The below feature passes for a terraform example that should fail the

[2021-07-05 17:16] alextodicescu commented on #518
I searched thorough older issues, this seems similar to https://github.com/terraform-compliance/cli/issues/285 and https://github.com/terraform-compliance/cli/issues/325.

But I'm unsure what I'm doing wrong

[2021-07-05 17:48] alextodicescu commented on #518
Nevermind, i was using a `Scenario Outline` in my feature file with no Examples. So I assume that's why Gherkin was ignoring my test.

[2021-07-05 17:48] #518 closed

[2021-07-05 18:15] alextodicescu opened #519 "Can not find resource aws_api_gateway_rest_api defined in target terraform plan"
## Description

I'm writing a new feature scenario to check if all [aws_api_gateway_rest_api](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/api_gateway_rest_api) resources defined are created as private APIs.

When running terraform-compliance, it seems the `aws_api_gateway_rest_api` resource type is not identified correctly in the terraform plan
[code]

## To Reprodu

[2021-07-06 15:32] alextodicescu commented on #519
Nevermind, this is not a bug.
I believe this behavior is caused by the fact that I'm using `resource` in front of `aws_api_gateway_rest_api`
- skips the test: `Given I have resource aws_api_gateway_rest_api defined`
- passes the test: `Given I have aws_api_gateway_rest_api defined`

[2021-07-06 15:32] #519 closed

[2021-07-09 16:28] gargunn opened #521 "panic: value is marked, so must be unmarked first"
Issues running versions of terraform-compliance.

Trace output as below.

`
========================== Starting Command Output ===========================
/usr/bin/bash --noprofile --norc /home/vsts/work/_temp/7a71bba6-b575-4f92-af0f-12959b8f7bc7.sh
ERROR: Failed to convert terraform plan file to JSON format via terraform. Here is the error :
terraform-compliance v1.3.17 initiated

. Converting te

[2021-07-10 08:49] eerkunt commented on #521
Hello,

The error message is coming from terraform. Sounds like this is happening a lot these days. Not something terraform-compliance can fix.

Instead of using plan.out with terraform-compliance, try converting it to json by running :

You will have the same error.

Hashicorp claimed they fixed some problems about terraform show command in the 1.0.2 version, maybe try with that ?

[2021-07-13 08:11] eerkunt commented on #521
Closing this issue as its a problem within `terraform` not `terraform-compliance`.

Please open a new issue if you think this is not accurate. Thanks 🎉

[2021-07-13 08:11] #521 closed

[2021-07-13 08:11] eerkunt commented on #514
Oh, this is interesting, and sad :( Sorry for experiencing that.

Looking into

[2021-07-19 22:45] joaoubaldo opened #525 "TypeError: unhashable type: 'dict'"
## Description

Using terraform-compliance 1.3.21 and a terraform 1.0.2 plan file I get `TypeError: unhashable type: 'dict'` on a specific resource.

## To Reproduce
Unfortunately I cannot share the planfile nor I was able to reproduce the issue on a dummy terraform project that mimics some of the configuration of the original project, however I can share the actual Terraform code.
- terraform-com

[2021-07-22 13:52] dariuszparys opened #526 "Can't reference resources in modules"
## Description
I modularized my terraform script and having issues in drilling down the dictionary stack. I try to minimize the problem I encounter to one simple test

## To Reproduce

Terraform resource definition:

[code]

Scenario for terraform-compliance:

[code]

Part of the plan.out.json, please note that this is the only part where this resource is defined

[code]

When debugging with terra

[2021-07-28 16:02] rubelw opened #529 "Need the ability to handle nested modules"
## Feature Request

**Feature description:**
Need to have the ability to handle nested modules.  For example, modules which call modules, which call modules.  The address in the planned values block of the terraform plan will correctly specify the address and module.<name>.module.<name>, but the addresses in the configuration block need to be massaged to correctly reflect the address.  In addition

[2021-07-28 16:07] eerkunt commented on #529
Hello Will,

We already have nested module support. Can you elaborate your feature request a bit more with example scenario you are planning to implement please ?

[2021-07-28 16:07] rubelw opened #530 "Need to add controls functionality"
## Feature Request

**Feature description:**
Need to have controls functionality, so we can write specific tests for CIS Foundations Benchmarks, CIS Controls, CIS Docker, CSA CCM, GDPR, HIPAA, ISO 27001, NIST 800-53, PCI, and SOC 2.

Since a singled test might be applicable to multiple controls, we need to have the ability to map a test to a control.

Also need the ability to filter by controls.

[2021-07-28 16:11] eerkunt commented on #526
Thanks for the issue.

The part you pasted from plan.out.json is the part where module is being invoked, not the resource being created - as I understand.

Afaik, we even have integration tests specific to this example (not the same resource though).

[2021-07-28 16:12] eerkunt commented on #526
Oh missed the plan.out attachment, checking! Thanks

[2021-07-28 16:37] eerkunt commented on #530
Thanks for the feature request.

It is possible to `tag` a feature or a scenario with a custom tag that you want - which can be used for mapping those features or scenarios to controls.

For e.g. ;

[code]

Then you can even run these specific feature or scenarios by using `--tags` parameter.

For e.g. ;

Let me know if this is suitable for your feature.

[2021-07-28 16:47] eerkunt commented on #526
After checking the plan output file you attached, I couldn't find any resource created with a resource type of `azurerm_app_service_virtual_network_swift_connection` and resource name as `apps_vnet`.

Could there be a for_each or count somewhere that enable/disables this resource creation within your terraform code ?

[2021-07-28 16:48] eerkunt commented on #526
To have a similar example, we are already testing this functionality on every change : https://github.com/terraform-compliance/cli/tree/master/tests/functional/test_multi-module-referencing

[2021-07-28 16:49] eerkunt commented on #529
Example test we validate on every change: https://github.com/terraform-compliance/cli/tree/master/tests/functional/test_multi-module-referencing

[2021-07-28 16:52] rubelw commented on #529
That would be wonderful if nested module support exists.   Below are a couple examples of my current rego tests.  I currently have to evaluated the planned_values and configuration values blocks for many resources in nested-child_modules to get the various details to compare and analyze the resources.

Example1: Ensure web-tier autoscaling group has launch configurations, and those launch configur

[2021-07-28 17:02] eerkunt commented on #514
The problem does not seem about `count` or `for_each`. We use a lot of `for_each` and `count` in some projects, never had a problem as well.

When I debug your plan file, it looks like its mounting `aws_network_acl.vpc_subnet_acl` to' aws_vpc.vpc`, and `aws_subnets` into `aws_network_acl.vpc_subnet_acl`, but not into `aws_vpc.vpc`. Looks like `terraform-compliance` somehow get confused on that 😆 I

[2021-07-29 06:23] dariuszparys commented on #526
Thanks for checking, indeed the terraform plan is using the count metadata property to provision specific resources if `enable_vnet` is set to `true`. So is the private endpoint module with the resource `azurerm_app_service_virtual_network_swift_connection` (see https://github.com/dariuszparys/services-in-vnet/blob/c7c01f8e18af624d29a6d5cfa31ae33481f6a944/terraform/modules/private-endpoints/servic

[2021-07-31 18:35] Kudbettin commented on #456
Hi @mdesmarest

I added `source` to metadata on #532. Could you give it a try?

[2021-08-02 11:09] eerkunt commented on #514
I take me statement back, the problem was about `count` but that was not the only reason why this is happening :)

Fixed in #533

[2021-08-03 07:38] eerkunt commented on #514
Hi @chrisblutz, can you give a try with 1.3.24 on this problem please ?

[2021-08-03 07:51] eerkunt commented on #509
Hi @TomTucka , did you try the same with the latest 1.x version of `terraform` ? It looks like its fixed on the terraform side.

@Shocktrooper can you also run `which terraform` please ? It looks like, you have the `plan.out` file only. In order to get it parsed by `terraform-compliance`, we use `terraform` executable to convert it to a JSON file. (command: `terraform show -json plan.out > plan.ou

[2021-08-03 15:08] #512 closed

[2021-08-03 16:55] eerkunt commented on #514
perfect, glad to hear. closing this issue, please do not hesitate to create a new one if the problem somehow occurs again :)

[2021-08-03 16:55] #514 closed

[2021-08-03 16:57] eerkunt commented on #529
this is already supported from the beginning. We call it resource mounting :) e.g. https://terraform-compliance.com/pages/bdd-references/then.html#then-it-must-have-address-referenced

[2021-08-04 15:14] japitts0889 opened #534 "Data source checks are failing when being included in larger test suite"
## Description
When you have multiple features and scenarios defined that terraform-compliance is running through, it doesn't seem to be able to always find data types within the plans, but when running the feature/scenario on it's own it passes every time.

## To Reproduce

1. Create a large number of features and scenarios and have terraform-compliance iterate through all of them.
2. Have a scen

[2021-08-04 15:49] japitts0889 commented on #534
Doing some more testing it does seem that it even happens when only using 2 feature files. I can provide what i'm doing below.

**Feature # 1**
[code]

**Feature # 2**
[code]

When running Feater # 2 on it's own it runs perfectly fine and passes every time. When running it together with feature #1 it will fail saying it can't find `aws_ami`

I've tested this by both having these 2 feature files in

[2021-08-04 15:56] asishr opened #535 "check for field "state" always fails"
## Description
Scenario: To enabled threat_detection_policy for sql db.
        Given I have azurerm_mssql_database defined
        Then it must contain threat_detection_policy
        Then it must contain state
        And its value must be Enabled

## To Reproduce

## Feature File:

[code]
## Plan File:
[code]

## Error Output:
Failure: Resource module.sql_server.azurerm_mssql_database.db["examp

[2021-08-04 16:17] wrighgl commented on #535
Within the terraform-compliance  "then" directive the term 'enabled' is a reserved word - adding quotes around the value (i.e. "Enabled") should resolve the issue.

[2021-08-04 16:25] eerkunt commented on #534
Thanks for the bug report 🎉  Is it possible to post a plan.output ? I guess the terraform code snippet you wrote won't be enough to reproduce this scenarios. We can also write it by ourselves, but want to be sure if there is an edge case within your problem.

[2021-08-04 16:34] japitts0889 commented on #534
Unfortunately I can't. The plan is quite large at 604705 lines and there's a number of things that would have to be redacted from it to be able to post anything.

I can say though that the same issue does happen for any plan file I've been able to run it against so far.

[2021-08-04 16:35] japitts0889 commented on #534
I can try and get some time later to build out a quick terraform with just an EC2 instance and a aws_ami data source and see if it comes up with the same issues

[2021-08-04 17:00] #535 closed

[2021-08-06 21:12] rubelw opened #537 "Can not ensure specific tags are available on an autoscaling group"
## The following does not work with autoscaling groups because the tags are not in the same format as other AWS resources.

Scenario Outline: Ensure that specific tags are defined
    Given I have aws_autoscaling_group defined
    When it has tags
    Then it must contain <tags>
    And its value must match "^(webtier|apptier|datatier)" regex

The bug is related to line 106 in the i_have_name_sect

[2021-08-07 16:48] eaglet3d opened #538 "All CHANGELOG.md entries since 1.3.9 has the wrong year: 2020"
## Description
All entries since 1.3.9 in the CHANGELOG.md have been made with the wrong year specified (2020).  They should be 2021.

## To Reproduce
Open CHANGELOG.md

**Feature File:**
Not applicable

**Sample Terraform Code:**
Not applicable

**Used `terraform-compliance` Parameters:**
Not applicable

**Running via Docker:**
No

**Error Output:**
Sample output from the CHANGELOG.md file for re

[2021-08-08 14:22] rubelw commented on #537
Added pull request to fix. See: https://github.com/terraform-compliance/cli/pull/540

[2021-08-11 15:22] JyotiSingh7 opened #541 "Running terraform-compliance with terragrunt"
I am using terragrunt and terraform modules. I am trying to use terraform-compliance with terragrunt using the below commands:
`terragrunt state pull > state.out`
`terragrunt show -json state.out > state.out.json`
`terraform-compliance -f git:https://github.com/terraform-compliance/user-friendly-features.git -p state.out.json`

However, I keep running into this error:
`ERROR: state.out is not a va

[2021-08-11 15:25] eerkunt commented on #541
The generated state.out.json should be one line. Since terraform produces like that, not sure about terragrunt.

Can you try

     cat state.out.json | jq -c

For converting the json into one line ?

[2021-08-11 15:31] eerkunt commented on #538
Thanks for spotting this 😅

Embarrassing 🤦‍♂️

[2021-08-11 21:23] japitts0889 commented on #541
I haven't tried this with the state file but I know it does work with terragrunt doing a plan output file. There must be something different it's doing with the state than what it does with the plan.

[2021-08-12 05:54] JyotiSingh7 commented on #541
Thanks @eerkunt @japitts0889 for the reply.
I could not find a way to use `terraform-compliance` with state file with `terragrunt`. Even after doing this `cat state.out.json | jq -c`  it throws the same error.
However, I tired this with `terragrunt plan` and its working.

[2021-08-12 05:54] #541 closed

[2021-08-12 13:17] vnyvishwakarma opened #542 "How to raise an action of two independent resources?"
**Question:**
As an AWS compliance policy I have two resources aws_vpc and aws_flow_log, If AWS VPC does not have flow logs then compliance should be failing. Since both the resources are independent AWS Terraform resources, How can I achieve this task using Terraform compliance.

[2021-08-14 04:11] mgarber-ops opened #543 "Tags Policy Parsing Incorrect Properties"
## Description

When deploying an ECS Task Definition with a container_definitions JSON that contains a list of maps for environment variables defined my tagging policy is incorrectly parsing them and treating them as a value for "tags"

## To Reproduce

**Feature File:**

[code]
**Plan File:**
[code]

**Sample Terraform Code:**

[code]

**Used `terraform-compliance` Parameters:**

**Running via D

[2021-08-14 21:04] mgarber-ops commented on #543
Looks like this is related to https://github.com/terraform-compliance/cli/issues/454

[2021-08-15 18:56] eerkunt commented on #543
Hi @mgarber-ops,

Yours is a bit different as I understand.  In your scenario, you `filter out` resources with `tags` with both on `GIVEN` and `WHEN` directives, but you don't drill down. Hence, the data `Then it must contain <tags>` directive looks for everything, not only `tags`

A small change within your scenario would hit on the correct parameters ;

[code]

[2021-08-15 18:57] eerkunt commented on #454
Just like #543, same applies on here, this is actually a problem on the scenario :)

A small fix like below would fix your problem ;

[code]

[2021-08-15 19:45] mgarber-ops commented on #543
Appreciate the speedy reply. I'll give this a shot later and let you know what happened

[2021-08-15 21:03] mgarber-ops commented on #543
All is working now with your recommended changes. Thanks 👍🏻

[2021-08-15 21:03] #543 closed

[2021-08-16 14:31] potomato commented on #454
Hi @eerkunt,

I've just given that a try, so that now I have:
[code]

That fixed the issue but raised a bunch of new errors. These turned out to be places where tags can be supplied but I wasn't supplying them. So whilst it's a more restrictive interpretation it's not a bad thing.

Looks like this fixes my issue!
Thanks.

[2021-08-16 14:33] eerkunt commented on #454
If you want to skip for the resources that support tags but doesnt have any then you might just add a

   When it had tags

Before the first Then :)

Since Then directives fails or pass, When directives just skip (itself and the next steps) if that line fails.

[2021-08-16 14:34] potomato commented on #454
Right, I'm not clear on the syntax. I was going to ask but thought it was cheeky as the info is out there. But that's very helpful.
Thanks.

[2021-08-16 14:34] #454 closed

[2021-08-17 15:58] Shocktrooper opened #544 "support for tags_all?"
**Question:**

https://registry.terraform.io/providers/hashicorp/aws/latest/docs/guides/resource-tagging#propagating-tags-to-all-resources

Is there a way to make tags and tags_all/default tags synonymous with each other during linting because without that it seems that you have to choose one or the other for implementation in order for terraform_compliance to work effectively with tags

[2021-08-18 15:23] dariuszparys commented on #526
@eerkunt did you have a chance to investigate the issue? Do you need something else?

[2021-08-21 02:18] Shocktrooper commented on #509
@eerkunt I have verified that passing in the JSON works with the latest version of terraform-compliance with terraform 15.4 .  It appears that since we use terragrunt that terraform-compliance was unable to do anything when it tried to auto init what was in the directory

[2021-08-22 20:04] japitts0889 commented on #534
So I was able to create a very simple test to be able to recreate this for you.

**Terraform:**

[code]

**Feature1:**
[code]

**Feature2:**
[code]

With this configuration when running both features it will never find the aws_ami data source and will always show the following output:

[code]

When I test just against the feature that is looking for the aws_ami with this command `terraform-complia

[2021-08-23 13:27] alaidler2 commented on #386
Hi @eerkunt - Have you managed to review this one - I keep seeing further resources hit this problem and would be keen to get your views..

[2021-08-23 14:59] japitts0889 commented on #534
Here is the json output from the tfplan that i'm testing against.

[code]

[2021-08-23 16:57] eerkunt commented on #542
Well, this is pretty simple. `terraform-compliance` already references those resources to each other internally with the correct hierarchy.

Assuming we have a tf file like this ;

[code]

So, `aws_vpc.failure` should fail, because there is no `aws_flow_log` referenced to it.

Then the feature file will be ;

[code]

and when you run `terraform-compliance` against your plan, it will fail with `aws

[2021-08-23 16:59] eerkunt commented on #538
Thank you very much for reporting this. Fixed in 058044e.

Closing this issue.

[2021-08-23 16:59] #538 closed

[2021-08-24 14:34] eerkunt commented on #544
Hmm, not sure how we can implement this cleanly. 🤔

[2021-08-24 14:34] eerkunt commented on #537
Pasting the comment I wrote the the PR

Since `terraform_asg_style_tags` is very AWS-oriented, I am not positive to have an if clause in `terraform-compliance` for checking if the resource is an asg resource.

Instead, this is already implemented within `resource that support *` section. Hence, you can check your asg tags with ;

[code]

for all resources, and if you want to be specific about `aws

[2021-08-24 14:38] eerkunt commented on #526
Hi @dariuszparys ,

Sorry didn't realise you needed further help on this one. The plan file you provided was not creating that specific resource you were looking for. I don't think this is a `terraform-compliance` issue.

Happy to have a look deeper if you provide a plan file that has your resource created within.

[2021-08-24 14:39] eerkunt commented on #456
@mdesmarest is it all ok for this issue ? I would like to close it if its resolved.

[2021-08-24 14:45] eerkunt commented on #544
Sweet, superb. Happy to update any part of documentation for this :) (or you can fix it as well via a PR)

[2021-08-25 08:38] eerkunt commented on #386
Had a look and created a local test for reproducing this problem. The problem is not referencing resources within module (or a module of a child module), that works.

The problem here I found is, when you pass the `kms_key_id` as a `variable` to a module, then it loses the referencing for the resource mounting/referencing, since it become multiple hops to resolve where is that variable is used etc

[2021-08-25 10:15] eerkunt commented on #386
Sounds like we have a solution for this issue. Can you please try with `1.3.26` please ?

[2021-08-25 11:59] alaidler2 commented on #386
Great work - thanks for responding. My initial local test case I have for this is indeed resolved by `1.3.26` - let me do some more testing in our pipelines to be certain this resolves each of our current known resources hitting this issue. Will report back in a few hours 👍

[2021-08-25 16:42] alaidler2 commented on #386
All good from my end - thanks again for resolving this one - much appreciated

[2021-09-01 19:56] tpargmdiaz opened #551 "Command ' terraform apply -target=vpc_module.tf' makes no change at all."
## Description
Command ' terraform apply -target=vpc_module.tf' makes no change at all.

Terraform v1.0.5
on linux_amd64
+ provider registry.terraform.io/hashicorp/aws v3.56.0
+ provider registry.terraform.io/hashicorp/null v3.1.0

cat vpc_module.tf

provider "aws" {
  region = var.region
}

module "vpc" {
  source = "terraform-aws-modules/vpc/aws"

  name = var.vpc_name
  cidr = var.cidr_block

[2021-09-02 07:43] ascheman opened #552 "Target Group ARN matching does not work work once the resource is created"
## Description

I have a scenario which tests for the value of a LB Listener `target_group_arn` which points to ARN reference of the respective LB target group. The test case works well as long as the resource is not created. Once it is available a subsequent execution of the test case runs into an error because the ARN is now resolved to its actual value.

## To Reproduce
Unfortunately I cannot f

[2021-09-02 10:28] #551 closed

[2021-09-02 10:31] eerkunt commented on #544
Closing the issue since the PR is already merged for it :)

Thanks a lot again!

[2021-09-02 10:31] #544 closed

[2021-09-02 10:31] #529 closed

[2021-09-02 12:27] eerkunt commented on #386
Great to know its working 🎉  Thanks for the issue 🙏

[2021-09-02 12:27] #386 closed

[2021-09-02 12:38] eerkunt commented on #273
Hello @IrmantasM,

Sorry for the late reply on this issue. Along with [1.3.6](https://github.com/terraform-compliance/cli/blob/master/CHANGELOG.md#1316-2021-06-04) `terraform-compliance` supports auto-detection and downloading of the terraform executable while converting plan files. Is it possible if you can have a try with any version that is higher than 1.3.6 (preferably the latest version)

Apa

[2021-09-09 14:49] hjribeiro opened #554 "error on function `_mount_resources` due to non-iterable `self.resources[source_resource]['values']`"
## Description
terraform-compliance is failing on `terraform_compliance/extensions/terraform.py#L321` with tf 1.0.6. It seems to work with tf1.0.5.

## To Reproduce

**Plan File:**
I'm working on cutting and anonymizing the plan file - will attach it soon

**Running via Docker:**
No
**Error Output:**
with version 1.3.27 we get this output:

[code]
with 1.3.26 the error output is different:

[code]

[2021-09-10 15:44] hjribeiro commented on #554
I was able to fix it with the following change:

https://github.com/terraform-compliance/cli/pull/556

if this seems reasonable I can add some unit tests and complete the PR.

thanks

[2021-09-13 13:52] eerkunt commented on #554
hey @hjribeiro ,

Thanks for the issue and more importantly the PR! Good spot :)

Instead of unit tests, I think we can also add some functional tests for this to the PR with the currently plan you have.

[2021-09-14 16:01] hjribeiro commented on #554
PR updated with functional test. Give us a shout if you feel it needs anything else.

H

[2021-09-16 09:35] eerkunt commented on #554
Thanks for the PR! Just released 1.3.28 including your PR in it.

[2021-09-22 19:24] alex-w-k commented on #311
Hey, are there any updates to this? I have a scenario where it would be super useful to filter by regex.

[2021-09-29 21:33] kpeder opened #561 "In step example pattern doesn't actually work due to stash behavior"
## Description
The example pattern in the documentation, [here](https://terraform-compliance.com/pages/bdd-references/then.html#in-step-variables), doesn't seem to work.

Best I can tell, with two Given statements, the stash only contains resources associated with the last Given statement, and is NOT cumulative; then after the "Then it must have PROPERTY" statement, the stash is pruned, and only c

[2021-09-30 16:17] kpeder commented on #561
....found my mistake in the plan file here and have this working; not a bug. Sorry for the noise.

[2021-09-30 16:17] #561 closed

[2021-09-30 17:58] kpeder opened #562 "Add Step Variable / Haystack Condition "Must Not""
## Feature Request

**Feature description:**
Add negation to Haystack. I.e. "Then it must not be in Haystack".

**Suggested Solution description ( if you have any ):**
1. Negation of step variable pattern "Then it must be in Haystack".
2. The scenario should pass if the resources from the previous steps are not in Haystack.
3. Negation of step variable pattern "Then it must cover Haystack".
4. The

[2021-10-01 15:16] eerkunt commented on #562
Thanks a lot for the PR #563. :tada:

[1.3.29](https://github.com/terraform-compliance/cli/releases/tag/1.3.29) has been released. Let me know if we can close this issue. 😃

[2021-10-01 18:13] kpeder commented on #562
Confirmed, and closed. Thanks!

[2021-10-01 18:13] #562 closed

[2021-10-06 14:33] joaoubaldo opened #567 "helper.transform_asg_style_tags() not protected when resource['values'] is None"
## Description

## To Reproduce

The issue is a bit flaky. It doesn't look directly related with a specific resource (we are using terraform-compliance on a high number of cicd pipelines and this issue is only affecting a few of them)
Example: when generating a plan that applies the whole infrastructure from scratch it doesn't fail, however when the plan includes updates, terraform-compliance fail

[2021-10-13 08:28] eerkunt commented on #567
Thanks a lot for the PR 🎉

Looks great.

[2021-10-20 10:07] tlm-daniele-ricci opened #570 "WARNING (mounting): The reference "..." in resource ... is ambigious. It will not be mounted."
**Question:**

Hi all,

I'm getting a lot of warnings like following one:
[code]

I actually have two questions:

1. What does it means? Which are the conditions for which this warning is raised?
2. But moreover, as it is a warning I suspect there's something wrong in my code: what can I do to solve it?

Thank you

[2021-11-04 19:07] Aniket281292 opened #572 "Unable to access the identify file when trying to access the identify file from Folder other than the Terraform module"
**Question:**

Trying to run feature files present as a part of private bitbucket repository. For authentication purposes, providing the **-i** parameter and path to the ssh key. When this key is included as part of the Terraform module, this script works fine.
**command**:  docker run --rm -v $PWD:/target -it eerkunt/terraform-compliance  -f git:ssh://bitbucket.org/.../tf-compliance.git -p plan.o

[2021-11-05 10:58] eerkunt commented on #572
Hello @Aniket281292,

The problem is actually not within `terraform-compliance` but about how you initiate it via docker.

As you provide `-v $PWD:/target` you are actually mounting `$PWD` host directory to `/target` container directory. [Please see the documentation about this](https://docs.docker.com/storage/volumes/)

Since your `ssh` key is not within your `$PWD`, all you need to do is to moun

[2021-11-09 18:42] Aniket281292 commented on #572
@eerkunt,using the following format did not help since it threw the same error.
-v $PWD:/target \
-v /Users/xyz/.ssh/:/ssh \

What helped was when i tried running command from the root (~) directory. i provided both the rsa key and plan.json files as part of this root directory.

[2021-11-11 23:36] #572 closed

[2021-11-11 23:49] Aniket281292 opened #573 "Run terraform compliance with only a single feature from a directory on the a TF plan json file"
**Question:**

Is there a way to run only one test feature file from a directory when executing the terraform compliance command?

i ​am able to run docker command as follows:
docker run --rm -v $PWD:/target -it eerkunt/terraform-compliance  --junit-xml TFCompliance-Report.xml **-f git:ssh://bitbucket.org/xyz/tfcompliance.git** -p Desktop/Repos/abc/xyz/mainplan.out.json -i .ssh/key

However if i w

[2021-11-12 16:34] Aniket281292 opened #574 "Error while trying to access an attribute in terraform plan.out.json file that is not part of the root_module"
**Question:**

I have a terraform plan file(plan.out.json), against which i am running my feature tests against. I need to verify an attribute(terraform_version) as a part of terraform plan file which is not associated with a property or is not a property of the **root module (configuration/root_module)**

plan.out.json file will be as below:
{"format_version":"....","terraform_version":"0.14.11",

[2021-11-17 14:27] rdenchev opened #575 "FATAL ERROR: Unsupported terraform plan output format version"
## Description
terraform-compliance throws error if the state is created by terraform version 1.0.11

## To Reproduce
1. Install terraform version 1.0.11: `tfenv install 1.0.11`
2. Create terraform plan: `terraform plan -out tf.plan`
3. Run compliance check: `terraform-compliance -f . -p tf.plan --silent`
4. Error output
[code]

5. The features I have
[code]

## Expected behavior

terraform-compli

[2021-11-17 15:19] eerkunt commented on #575
Hello @rdenchev,

Please update your terraform-compliance. The format you were looking for has been introduced in 25/06/2021.

https://github.com/terraform-compliance/cli/blob/master/CHANGELOG.md#1319-2021-06-25

[2021-11-22 17:07] Aniket281292 commented on #574
@eerkunt , any idea on this one?

[2021-11-22 17:07] Aniket281292 commented on #573
@eerkunt any idea on this issue?

[2021-11-23 09:32] BrunoDelb opened #576 ""You have a SyntaxError in your feature file" error when using "examples:" section"
## Description
When I add examples in a feature, I get an error message "You have a SyntaxError in your feature file"

## To Reproduce
I created this feature file:

[code]

I installed terraform-compliance with pip.

When I run this command:

[code]

I get this error:
[code]

It works if I remove the `examples:` section and if I change this line into:

[code]

[2021-11-23 10:24] skorobogatydmitry opened #577 "CLI fails on formatted JSON"
## Description

When I format plan JSON document prior to run terraform-compilance it errors-out with `ERROR: /tmp/p/plan.json is not a valid JSON file`. But if i keep plan JSON doc as a single line, it works.

Version: `terraform-compliance v1.3.30 initiated`.

[2021-11-23 10:28] skorobogatydmitry opened #578 "Given directive doesn't hit provider."
## Description
I have this scenario:
[code]
It's syntactical correct, as by this: https://terraform-compliance.com/pages/bdd-references/given.html#given-i-have-name-type-configured.
But it doesn't hit plan with AWS provider:
[code]

[2021-11-29 09:01] j4b0l opened #579 "CIDR blocks fail to parse due to module variable reference"
## Description
Running terraform-compliance 1.3.28 and higher on a plan with CIDR blocks for modules given as reference, scenario fails due to wrong format in pre-processed data structure.
## To Reproduce

   1. Use example scenario or security group rules: [Security Groups - no publicly open ports](https://terraform-compliance.com/pages/Examples/AWS/security_groups.html#no-publicly-open-ports)

[2021-12-09 15:29] japitts0889 commented on #573
Outside of specifying a single file to run you can get around this by tagging that specific feature file with a custom tag and then telling terraform-compliance to only run against that tag.

[2021-12-09 22:10] #530 closed

[2022-01-03 01:20] craigthackerx opened #588 "Add examples files to either docs or inside main tree for users to find"
## Feature Request

I was wondering what the opinion would be with storing examples inside the CLI repo or if we should use the [user-friendly-features](https://github.com/terraform-compliance/user-friendly-features) repo,  Or, even more so, add a folder called `examples` to the main tree for users to find.

I have been working on something @eerkunt may remember, with an [Azure Naming Convention E

[2022-01-03 01:31] craigthackerx commented on #588
Example branch: https://github.com/craigthackerx/cli/tree/add-examples-folder/examples/azure/naming-convention

Working CI of polices in question:

- [Failing due to missing tags](https://github.com/craigthackerx/azure-challenge-solutions/runs/4686984490?check_suite_focus=true) 😢

- [Passing due to added tags](https://github.com/craigthackerx/azure-challenge-solutions/runs/4687060694?check_suite_f

[2022-01-11 10:51] rdenchev commented on #575
@eerkunt updating terraform-compliance fixed the issue. Thx!

[2022-01-11 11:35] rdenchev commented on #575
@eerkunt updating the terraform-compliance version fixed the issue. Thx!

[2022-01-11 11:35] #575 closed

[2022-01-28 10:25] joserendal opened #592 "Executing in automated environment"
**How can we abort execution in automated test environment?**

Hello,
I'm running terraform compliance in an automated environment (AWS Codebuild) and I want the command to abort the process on test failure in order to interrupt the deployment of the Infraestructure code.
I'm running the following command:

`
terraform-compliance -f "./terraform-compliance" -p "out.tfplan"
`

How can I implement t

[2022-01-28 10:35] eerkunt commented on #592
Hello Joserendal,

`terraform-compliance` exits with `1` if it fails, and with `0` if it is succeeded.

Based on how you configured your pipeline, you can either check the return code and exit with `1` if its `1`, or if you can enable fast-fail on CodeBuild if you are using [batch buildspec](https://docs.aws.amazon.com/codebuild/latest/userguide/batch-build-buildspec.html).

[2022-01-29 18:40] craigthackerx opened #593 "Count the length of value using terraform-compliance"
Hello :wave:

I am trying to test the length of a value using terraform-compliance.  I am completely open to how to do this or if its even possible, but I think I am misunderstanding the `count` action.  From my testing, I can only use it to count the amount of occurrences of something, rather than test a values length.

[code]

This just checks that there is less than 24 groups defined, which of

[2022-01-31 17:53] marcelo-rabello-ifood opened #594 "Is it possible to validate upper levels of a resource after drill down?"
Example: `aws_s3_bucket_policy`

[code]

Let's say that I want to validate the existence of a `Condition` field, but only if my `Principal` field is `*`, so I built a Scenario that looks like this:

[code]

But after drilling down to the `Principal` level, I could not find a way to refer the `Condition` field again, because it is a subfield of `Statement`, and not `Principal`. Is there a way to do

[2022-02-07 13:07] eerkunt commented on #593
Hi @craigthackerx ,

Thanks for creating this issue.

Implementing `length` instead of `count` should be very easy, let me have a look on this.

[2022-02-07 13:14] eerkunt commented on #593
Happy to hear suggestions about an understandable BDD directive for using `length` instead of `count`

[code]

[code]

[2022-02-07 19:42] craigthackerx commented on #593
Yeah when I measure the length sounds good to me.

Can you @ me on the finished code when it's done so I can read and try and learn? I'd like to be able to contribute more but wouldn't know where to look!

[2022-02-09 11:55] kaan35 opened #597 "Credentials leak check"
Hello

Many projects need to use external api or services to provide some features. But many developers writes key and secret credentials in git repositories public files.

For example search query to list some repositories which includes secret keys in Github
https://github.com/search?q=aws_secret_access_key+extension%3Ajson+extension%3Ayaml&type=Code

## Feature Request

**Feature description:**

[2022-02-13 16:29] mungojam commented on #498
I see something similar to this with an `assume_role_policy` setting when it points to another resource. It then ends up in `expressions` in the `configuration` section of the json plan file and not in the main variables of the role resource.

So it skips the check.

[Attached is the zipped up json plan](https://github.com/terraform-compliance/cli/files/8056054/plan.out.zip)

And here is the actua

[2022-02-15 16:14] mungojam opened #599 "Using Background with 'when' and Scenario Outline together throws an error"
## Description
If I have a Given-When condition in a `Background` step and I add a `Scenario Outline`, then an error is thrown:

## To Reproduce

Use the same terraform and plan.json as in https://github.com/terraform-compliance/cli/issues/498#issuecomment-1038233721) and then try the following feature file:

[code]

[2022-02-15 16:16] mungojam commented on #599
I forgot to add, if I take out the `When` condition from the Background then it works fine. And it works fine for `Scenario` rather than `Scenario Outline` too

[2022-02-22 22:44] mungojam commented on #599
I tried to workaround this in two different ways, but both failed in another way (same as each other):

1. Move the background to the beginning of each of the `Scenario Outline` blocks. I thought this would work as the docs suggest that a `Given` statement resets the context. However, I found that it then skipped the check altogether based on `Given I have aws_iam_policy_document data configured`,

[2022-02-28 07:21] neuralNet007 commented on #305
Hey,
I had a similar error with my main.tfplan.json file because the file format wasn't UTF-8. I generated the file using
`terraform show -json main.tfplan > main.tfplan.json`.
After hours of agony, I noticed this LOC https://github.com/terraform-compliance/cli/blob/ac843f3cda214b9c0d32be459fb623ccc18a9525/terraform_compliance/common/readable_plan.py#L40
Checking the format of my main.tfplan.json,

[2022-03-07 08:55] eerkunt commented on #597
Hello Kaan,

As terraform-compliance runs against a `terraform` plan, having a configuration directive like

[code]

won't mean anything as it won't be a part of a `terraform` plan file.

terraform-compliance does not execute any remote scans to a target repository.

Let me know if you have any thoughts.

[2022-03-07 09:40] kaan35 commented on #597
Hello

I thought we can scan our local repositories when we send new commit or new version to deploy our servers to prevent leaks.

`terraform-compliance does not execute any remote scans to a target repository.`
Yes i mean our local repository. Not a remote github repository link.

Thank you.

[2022-03-07 15:56] nwsparks opened #602 "using regex or wildcard in when stage."
**Question:**

I am trying to write a test that says `when resources start with the address module.project1, they must have the tag project: project1`

Ive tried quite a few different variations of this and it always returns `SKIPPING: Could not find "module.project1.*" in "address" metadata.`

Ive googled and searched past issues pretty extensively and haven't had any luck finding a solution. Sor

[2022-03-17 17:49] jekwesco opened #605 "Exception thrown in main.py at line 150"
## Description

Trying to run terraform-compliance GitHub action and getting an exception being thrown. Simple Azure PoC with a simple Terraform config and just trying to use the tests that are in user-friendly-features.

## To Reproduce

GitHub Action yaml. Passing in the plan file via upload/download archive.

[code]

**Feature File:**

Only using user-friendly-features git repo

**Plan File:**

[2022-03-21 11:14] alanbccoe commented on #542
What about for other resources that aren't linked? E.g. as of v4, S3 buckets have separate sibling resources for logging, server side encryption, logging, etc. How can we make sure that any S3 bucket defines those?

[2022-03-21 11:33] eerkunt commented on #542
They are linked to each other, as you need to define the `bucket` on every one of them. E.g.

[code]

because we are using `aws_s3_bucket.example.id` here on one of the fields, `terraform-compliance` will _mount_ `aws_s3_bucket_versioning.versioning_example` and `aws_s3_bucket_acl.example` under `aws_s3_bucket.example` resource.

[2022-03-21 11:36] eerkunt commented on #597
Hello Kaan,

`terraform-compliance` does not scan any 3rd party content except `terraform plan` itself.

[2022-03-21 11:36] #597 closed

[2022-03-21 11:50] alanbccoe commented on #542
Thanks for your fast reply @eerkunt, but I can't get it working. The following passes when I expected it to fail:

[code]

[code]

[2022-03-21 12:10] eerkunt commented on #542
Hmm just tested the exact tf and the exact feature, and got ;

[code]

[2022-03-21 13:48] aravindkoniki opened #607 "pip install terraform-compliance getting "Segmentation fault""
Im getting "Segmentation fault" while doing pip install terraform-compliance on windows 10

Does any one face this issues, Kindly help me to resolve this

[2022-03-21 15:20] alanbccoe commented on #542
PEBKAC. It does work. Thanks.

[2022-03-22 09:19] #542 closed

[2022-03-22 09:23] eerkunt commented on #607
Looks like the problem lies on `pip` itself. Did you get the same error while installing _anything else_ ?

[2022-03-22 09:32] aravindkoniki commented on #607
I just suppose to reply here, my issue has been resolved by complete clean of pip in my machine and reinstalled

Thank you for your comment

[2022-03-22 09:37] eerkunt commented on #599
Sorry for bumping into this problem Mark. I will have a look this problem within this week.

[2022-03-22 09:45] eerkunt commented on #602
This is definitely a required feature as it will also allow to write conditional tests based on the provider version. (e.g. the current case in AWS provider)

Looking into this now.

[2022-03-22 12:56] nwsparks commented on #602
awesome! another possibility i was thinking of here would be an `@include` tag to compliment the current `@exclude`.

[2022-03-22 14:00] eerkunt opened #609 "Deprecate Python 3.6 - End of 2022 Q2"
Apparently, Python 3.6 is creating problems. Some of the packages we use does not support Python 3.6 anymore.

Please let me know if you will have any issues with deprecating 3.6 till the end of 2022 Q2 under this issue.

[2022-03-22 14:02] eerkunt commented on #607
Perfect, great to know. Thank you. Closing the issue.

[2022-03-22 14:55] #592 closed

[2022-03-22 14:59] ricardo-f opened #610 "Question about logical operators"
Sorry if my question is explained or resolved in any doc, I've trying to do an aws resource tag check and I've the following scenario

- I've specific tags that should be set to governance and cost control purposes
- The tags can be set in tag_all OR directly in the resources tags block

And here lies my problem or lack of understatement of the tool :)
How to do the OR logic?

My scenarios are:
[c

[2022-03-22 15:04] eerkunt commented on #610
Hi Ricardo,

You actually did the `OR` logic buy using `When it has tags_all` and `When it has tags`. Except using the same `Scenario` name as it must be unique per `Scenario`, all looks ok actually.

What is the problem you are having ?

[2022-03-22 16:43] eerkunt commented on #610
hmm, is it possible to share plan output in json ? I couldn't still understand the exact problem :)

[2022-03-22 16:54] eerkunt commented on #602
Latest version has this feature, let me know if that works for you.

[2022-03-22 17:47] ricardo-f commented on #610
This is just a example I'm using localstack and creating a basic SQS
The pretty output:
[code]
This is what happen when I execute the tf_compliance:
[code]

[2022-03-23 15:34] ricardo-f commented on #610
Hi, It was a gigantic lack of knowledge of how tags and tags_all works in terraform plan.
So whatever I define in tags blocks inside a resource will automatically apears inside the tags_all key, but the inverse is not true.
If I define the Compliance tag at tag block, the tf-complice will check tags_all and give a OK!

It was explicit right here in this part of output:
[code]

Thanks for the suppo

[2022-03-23 15:53] eerkunt commented on #610
No worries at all, sorry just reading your message. I am glad you sorted it out. :tada:

[2022-03-24 09:33] eerkunt commented on #594
You can achieve this by using `When its {key} is {value}` directive.

e.g.

[code]

Didn't try it on my local, but it should work. Will try soon.

[2022-03-24 13:48] eugeneromero opened #611 "MINOR: Emoji library parameter being deprecated"
## Description

Since a few days ago, running terraform-compliance (docker image, have not tested other versions) shows these deprecation warnings on almost every line (where there used to be emojis before):
[code]

## To Reproduce
Run terraform compliance.

**Running via Docker:**
Yes

**Error Output:**
[code]

**Expected Behavior:**
Some nice emoticons, no errors.

**Tested Versions:**
- terrafo

[2022-03-24 13:56] eerkunt commented on #611
Oh wow, thanks for the issue. Fixing this. :)

[2022-03-24 14:42] eerkunt commented on #611
Weirdly, I couldn't reproduce this. What is the `emoji` version you have installed on your system ?

Could it be installed separately ?

[2022-03-24 14:46] eugeneromero commented on #611
I do not see the issue on my own (Ubuntu) machine. However, the issue happens in the Microsoft hosted Ubuntu 20.04 machines that we use for our CI/CD pipelines.

[Here](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md) is the list of all software installed on those machines. We don't add anything additional to them, so that should give you a good idea of

[2022-03-24 14:58] eerkunt commented on #611
super weird. Will try to release a beta version for you

[2022-03-24 14:59] eugeneromero commented on #611
Thank you!

[2022-03-24 15:02] eerkunt commented on #611
Released `1.3.33b1`, give few minutes to be released automatically then lets have go :)

[2022-03-24 17:04] eugeneromero commented on #611
I can confirm that this new version works as expected :) no errors thrown in the pipeline run. Feel free to close this one when you move it out of beta :D thanks for the quick help @eerkunt !

[2022-03-26 02:15] Barnes617 opened #612 "Social connection"
## Feature Request

**Feature description:**

**Suggested Solution description ( if you have any ):**

**Describe alternatives you've considered:**

**Additional context:**

I would like all my accounts linked no one knows who I am considering I have so many separate accounts and Barnes Barnes handyman services barnes101forever@gmail.com
All accounts merged with mine the account now I have was mad

[2022-03-26 21:40] #612 closed

[2022-03-29 14:11] nwsparks commented on #602
@eerkunt sorry for the delay. ive tested this and it's working for me as expected. thanks!

[2022-04-07 08:02] michaelact commented on #611
When will `1.3.33b1` version be available on pypi?

[2022-04-21 00:58] dblackhall-tyro opened #613 "Help with complex aws_lb_listener_rule scenario"
Hi I am having a lot of trouble defining a scenario for an aws_lb_listener_rule. The goal of the rule is to ensure that a given route is being directed to the correct place. e.g `/mobile/device/*` is forwarded to `listener_arn: arn:aws:elasticloadbalancing...`

The terraform definition is part of a module but the resource definition looks like:
[code]

Which is represented in the stash as:

[code]

[2022-04-21 12:15] pontinjx opened #615 "AttributeError when testing protocol/port range for ingress that uses security_groups instead of cidr_blocks"
## Description

When creating a security group with an ingress that references another security group in the plan, Terraform Compliance fails with AttributeError

## To Reproduce

**Feature File:**

[code]

**Plan File:**

[code]

**Sample Terraform Code:**

[code]

**Used `terraform-compliance` Parameters:**

N/A

**Error Output:**

[code]

or with -S

[code]

**Expected Behavior:**
The test shou

[2022-05-03 14:22] jekwesco commented on #605
Hey @eerkunt this seems to be fixed. Sorry for taking so long to verify. Thanks!

[2022-05-03 14:22] #605 closed

[2022-05-09 10:59] forstops opened #616 "Tags check fails on aws_cloudwatch_event_target with ecs_target block"
## Description
When using "aws_cloudwatch_event_target" block with "ecs_target" block. an check to make sure if tags are present fails
When adding tags to the "ecs_target" block
Passes terraform plan
Fails compliance

When adding tags to "aws_cloudwatch_event_target" and "ecs_target" block check
Fails terraform plan as "aws_cloudwatch_event_target" does not support tags

## To Reproduce

**Feature

[2022-05-11 14:17] joegajeckyj-ecs opened #617 "False positives for S3 resource creation with new aws provider"
## Description
Since upgrading to the latest provider, i am now getting false positives for S3 bucket creation

**Feature File:**

[code]
**Plan File:**
[code]

**Sample Terraform Code:**

[code]
- sub module
[code]
[code]
**Expected Behavior:**
The creation of the resource includes aws_s3_bucket_server_side_encryption_configuration in the now separate resource as par of the new provider, so the t

[2022-05-11 14:26] joegajeckyj-ecs commented on #617
attempted workaround

[code]

stash creates the following and still fails

[code]

[2022-05-19 17:43] doteric commented on #617
@joegajeckyj-ecs
I'm a little bit newbie to terraform-compliance, but try the following:

You have the resource `aws_s3_bucket_server_side_encryption_configuration` and inside it you specify `bucket` value and point to the right bucket using the `id`, but in the compliance it's `{aws_s3_bucket.values.bucket}` so `.bucket`.
[code]

[2022-05-19 19:45] mheiges opened #618 "support Terraform 1.2"
## Feature Request

Terraform 1.2 uses plan `"format_version":"1.1"`

terraform-compliance v1.3.32 fails with

[code]

[2022-05-19 20:15] mheiges commented on #618
Locally updating the `supported_terraform_versions` and `supported_format_versions` in `terraform.py` gets it to run but I get a lot warnings about

[code]

[2022-05-20 07:45] eerkunt commented on #618
Looks like they made a major change, how nice.. :(

Looking into this, will update #619 if required.

[2022-05-20 11:45] joegajeckyj-ecs commented on #617
Great spot @doteric
that has sorted it

[code]

[2022-05-20 13:49] joegajeckyj-ecs commented on #617
Only way I can get this to actually be consistent is to set the sse resource first
[code]
but then it wont stop you creating buckets without sse which is the whole point

[2022-05-20 15:05] doteric commented on #617
@joegajeckyj-ecs
So I have it done this way, seems to work fine from what I see:
[code]
What do you think?

[2022-05-20 15:15] joegajeckyj-ecs commented on #617
just tested your one and it didnt catch my bucket when there was one bucket with and one without sse

[code]

[2022-05-24 17:41] #602 closed

[2022-05-31 13:57] rm185496 opened #621 "FATAL ERROR: Unsupported terraform plan output format version (1.1)"
Terraform-compliance is throwing an error "FATAL ERROR: Unsupported terraform plan output format version (1.1)"
![TC-error](https://user-images.githubusercontent.com/98705559/171189511-955741b4-e5fe-4015-9149-6fcd27ea9e69.PNG)

I referred to this https://github.com/terraform-compliance/cli/issues/575 and it suggested me to update my terraform-compliance.

But I am on latest version of terraform-co

[2022-06-03 12:48] HBA-Ops commented on #621
Thanks @rm185496 ,
I could reproduce the same issue at my end.

@eerkunt - just to add more details -
With terraform 1.1.9 and terraform compliance 1.3.2 - terraform compliance works - plan file format is 1.0
with terraform 1.2.X and terraform compliance 1.3.2 - terraform compliance does not work - plan file format is 1.1

@eerkunt - Thanks for looking into it and looking forward for the fix

[2022-06-14 07:51] eerkunt commented on #618
@mheiges can I have a plan.out.json for your case if it doesn't have any confidential information ?

Support is there with 1.3.33 version, but couldn't reproduce your stuff.

Thanks

[2022-06-14 10:11] ryanbratten opened #627 "Performance issue (out of memory) when parsing plan file that makes use of multiple modules"
## Description
It looks like terraform-compliance[faster-parsing] uses up a large amount of memory to handle a codebase using lots of terraform modules. I’ve slimmed it down to one simple rule and it's unable to parse the plan file and run the test after 53 mins of trying.

terraform-compliance exits with the following error:
[code]
## To Reproduce

Large plan file using multiple modules (attached

[2022-06-14 10:27] ryanbratten commented on #627
Yep of course

[code]

[2022-06-14 10:31] eerkunt commented on #627
Yep, I can confirm it consumes around 7.96G of memory..

I must say I am super surprised to this :D Looking into.

[2022-06-14 10:42] eerkunt commented on #627
Expectedly same happens without `faster_parsing` just slower.

[2022-06-18 11:08] ch-e-mistry commented on #459
Hello @eerkunt,

I see the point that terraform-compliance is not scanning the code statically, just deal with the plan file itself.

However it is possible to give exceptation ot tf-compliance via arguments?

For example:

original command
- terraform-compliance --junit-xml TFCompliance-Report-public.xml --features git:https://github.com/terraform-compliance/user-friendly-features.git --planfile

[2022-06-18 17:51] mheiges commented on #618
@eerkunt can I email a plan to you? I have a redacted plan but would prefer not to publish it in case I missed something.

[2022-06-20 11:05] eerkunt commented on #618
Of course, emre.erkunt@gmail.com

[2022-06-20 11:10] eerkunt commented on #459
Hello @ch-e-mistry

Did you mean a usage like https://radish.readthedocs.io/en/stable/tutorial.html#tags ?

Its already supported by the way, as we are using `radish-bdd` for the bdd engine.

What do you think ?

[2022-06-27 13:37] ryanbratten commented on #627
Hey @eerkunt,  Do you know when there might be a fix for this issue? I have now completed a big refactoring to spit out our terraform scripts into smaller chunks however we are still experiencing high memory usage in a couple areas

[2022-06-29 11:48] joegajeckyj-ecs commented on #617
closing

[2022-06-30 12:20] HBA-Ops commented on #621
@eerkunt - this fix works fine with the latest library. Thanks for the fix

[2022-06-30 21:05] ozmodiar192 opened #631 "Unable to check for access log bucket pointing to itself"
## Description
I am attempting to validate that a bucket with access logging enabled is not pointing to itself as the target_bucket.

## To Reproduce

Create an s3 bucket with a separate aws_s3_bucket_logging resource.  Set the target_bucket to the same bucket you're creating.  This is a terrible idea so don't apply it.  Try to verify the value for "target_bucket" is not the same bucket you're cre

[2022-07-01 00:45] ozmodiar192 commented on #631
It looks like "target_bucket" is not in the stash:
[code]

[2022-07-01 13:30] nwsparks commented on #570
we have started running into this on terraform 1.2.4 after updating to terraform compliance 1.3.33

i tried it both with and without fast parsing installed.

some initial digging

`❗ WARNING (mounting): The reference "module.redshift" in resource module.iam.aws_iam_policy.iqies_redshift_user_policy is ambigious. It will not be mounted.`

attempt to view state on that object:

[code]

turns out the

[2022-07-01 13:37] nwsparks commented on #618
@eerkunt I posted here https://github.com/terraform-compliance/cli/issues/570#issuecomment-1172352149 with some more details on the `ambiguous` issue @mheiges reported.

[2022-07-01 15:34] glenthomas opened #632 "unavailable provider "registry.terraform.io/hashicorp/aws""
## Description

I'm not sure if I have done something wrong but am experiencing this error:

[code]

## To Reproduce

I am using an M1 MacBook

**Feature File:**

[code]
**Plan File:**

**Sample Terraform Code:**

[code]

**Used `terraform-compliance` Parameters:**

**Running via Docker:**

**Error Output:**

[code]

**Expected Behavior:**

It runs my feature tests.

**Tested Versions:**
- terrafo

[2022-07-03 19:34] gschaetz opened #633 "Security vulnerability detected in ipython"
## Description

High security vulnerability found scanning with Trivy:

---------+------------------+----------+-------------------+--------------------------------+---------------------------------------+
| LIBRARY | VULNERABILITY ID | SEVERITY | INSTALLED VERSION |         FIXED VERSION          |                 TITLE                 |
+---------+------------------+----------+------------------

[2022-07-06 13:52] j4t1nd3r opened #636 "Is there a better way to write this scenario in terms of clarity?"
I have the following reg ex which matches on multiple naming conventions:

[code]

I want to make sure every resource in the plan file adheres to one of these 3 naming conventions. I may add more conventions in the future. I got the following scenario that works:

[code]

However its not very readable. Is there a better way of writing this that potentially would involve an example table? It needs

[2022-08-09 10:17] clanbc opened #642 "Tag check failing for "(Known after apply resources)""
## Description

[code]

Is failing on some resources where a terraform plan provides a "(known after apply)" for tag value, i.e.:

[code]

## To Reproduce

**Sample Terraform Code:**

[code]

Terraform code for a failing resouce:

[code]

**Plan File:**
[plan.out.json.zip](https://github.com/terraform-compliance/cli/files/9289497/plan.out.json.zip)

**Used `terraform-compliance` Parameters:**
The

[2022-08-25 10:22] murcikan-scottlogic opened #645 "How do I define a scenario for a required related resource"
Is there a way to define a required related resource e.g.
GIVEN I have aws_s3_bucket defined
THEN aws_s3_bucket_server_side_encryption_configuration resource must exist
AND it must have bucket
AND it must be in {aws_s3_bucket_server_side_encryption_configuration.values.bucket}

[This issue](https://github.com/terraform-compliance/cli/issues/631) is rather similar but given this TF:
`resource "aws_

[2022-09-19 08:25] dj-wasabi commented on #611
Hi, not wanting to hijack this issue, but is `1.3.33b1` solving this issue as well as it is related to emoji?

[code]

Thank you!

[2022-09-22 09:15] haraldatbmw opened #648 "Support for Terraform 1.3.*"
## Feature Request

**Feature description:**
The current version of terraform-compliance cli (1.3.33) does not support Terraform Version 1.3.0.

[code]

**Suggested Solution description ( if you have any ):**
Add support for Terraform version 1.3.*

[2022-09-22 09:24] eerkunt commented on #648
This needs testing a bit.

[2022-10-04 07:17] #648 closed

[2022-10-11 19:52] nwsparks commented on #570
i was able to reproduce this on the latest https://github.com/terraform-compliance/cli/releases/tag/1.3.34 and provided a simple way to reproduce it here https://github.com/nwsparks/tf-compliance-ambig

the issue seems to be when a module references outputs from another module.

@eerkunt sorry to ping you directly but this issue is fairly old and hoping you see the new update I'm providing. i'd co

[2022-10-11 19:54] nwsparks commented on #618
@eerkunt posted a way to reproduce the problem here https://github.com/terraform-compliance/cli/issues/570#issuecomment-1275198840 as that issue is specific to it. You could probably close this one.

[2022-10-12 09:20] eerkunt commented on #618
Thanks! Lets track the issue there.

[2022-10-12 09:20] #618 closed

[2022-10-19 09:37] amitkewal opened #654 "Support for aws codecommit private git repository"
## Support for aws codecommit private git repository

**When I ran terraform-compliance on the repository present in the aws codecommit , the terraform-compliance throws the error:**
[code]

**Suggested Solution description ( if you have any ):**
I have looked over the code and found out it supports only URL ending with ***.git**

[code]

AWS Codecommit git URL sample: https://git-codecommit.us-ea

[2022-11-03 15:05] nmallott commented on #627
Hi @ryanbratten, we had the same issue. Using only one feature file with all scenarios solved our memory problem.

[2022-11-04 10:37] eerkunt commented on #627
I am sorry you are experiencing this problem guys. Life is being crazy for the last couple of months for me, unfortunately. I hope I will create some time and look into this issue asap.

[2022-11-25 13:12] mheiges commented on #613
I have the same situation. Is it possible to filter by array contents?

[2022-11-28 15:09] gabrielsoltz opened #661 "Policies are failing because live resources (already deployed) are non-compliant (aws_security_group_rule)"
## Description
Terraform Compliance is checking the live resources instead the changes to be deployed (the before instead of the after). If you have a plan pointing to a live resource that is non compliant, it's fails even after fixing the code that will fix that live resource. This only happens when resources already deployed, so with new resources, this is not a problem.
I reproduced this bug (?